body {
    background: #ECCD45!important;
}
.box4 {
    max-width: 500px;
}
h1 {
    background:  #CCC!important;
    line-height: 60px;
    margin:      0px;
    
}
.todo li {
    display:     inline-block;
    float:       left;
    margin-left: 70px;
    text-align:  left;
    width:       999%;
}
.item {
    float:     left;
    font-size: 200%;
}

span.done {
    color:           #999;
    float:           left;
    font-size:       150%;
    margin-top:      10px;
    text-decoration: line-through;
}

.done::before {
    content:         "✔";
    margin-left:     -30px;
    margin-right:    10px;
    text-decoration: none!important;
}

form {
    display: inline-block;
    margin:  40px;
}
input {
    box-sizing:     border-box;
    color:           #999;
    font-size:       150%;
    height:          60px;
    padding:         10px;
    text-decoration: none!important;
}
input[type="text"] {
    width: 280px;
}
.btn {
    background:    #ECCD45!important;
    border-radius: 30px;
    box-shadow:    3px 3px 5px rgba(0, 0, 0, 0.4);
    float:         left;
    height:        60px;
    margin:        0px 10px;
    min-width:     60px;
    width:         60px!important;
}