/*colors*/
/*fonts*/
/*easing*/
/* line 28, ../input/base.scss */
::selection, ::-moz-selection {
  background: #666666;
  color: #272727;
}

/* line 33, ../input/base.scss */
body {
  background: #e9e9e9;
  color: #666666;
  cursor: default;
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 5.6em 0em 0em 0em;
  width: 100%;
}

/* line 43, ../input/base.scss */
#shadow {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1YjRiNCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I1YjRiNCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(181, 180, 180, 0.3) 0%, rgba(181, 180, 180, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(181, 180, 180, 0.3)), color-stop(100%, rgba(181, 180, 180, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(181, 180, 180, 0.3) 0%, rgba(181, 180, 180, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(181, 180, 180, 0.3) 0%, rgba(181, 180, 180, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(181, 180, 180, 0.3) 0%, rgba(181, 180, 180, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(181, 180, 180, 0.3) 0%, rgba(181, 180, 180, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4db5b4b4', endColorstr='#00b5b4b4',GradientType=0 );
  /* IE6-8 */
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0em;
  z-index: -2;
  width: 100%;
}

/* line 60, ../input/base.scss */
#shadow.open {
  opacity: 1;
}

/* line 64, ../input/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0em 0.2em;
}

/* line 68, ../input/base.scss */
h2 {
  font-size: 150%;
  line-height: 3em;
}

/* line 73, ../input/base.scss */
h3 {
  color: #333333;
}

/* line 77, ../input/base.scss */
a {
  color: #dd4a35;
  cursor: pointer;
  margin: 0em 0.3em;
  text-decoration: none;
  outline-color: #ea8439;
}

/* line 84, ../input/base.scss */
a:hover {
  color: #f7484e;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

/* line 89, ../input/base.scss */
.field {
  display: block;
  margin: 1em auto;
  min-width: 200px;
  width: 40%;
}
/* line 95, ../input/base.scss */
.field p {
  margin: 2em 0em 0em 0em;
}
/* line 99, ../input/base.scss */
.field img {
  display: block;
}

/* line 104, ../input/base.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="checkbox"], textarea {
  background: none transparent;
  border: 0.1em solid #666666;
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  outline-color: #ea8439;
  padding: 0.4em 1.2em;
  width: 100%;
}

/* line 115, ../input/base.scss */
input[type="submit"], button {
  background: none transparent;
  border: 0.1em solid #666666;
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  outline-color: #ea8439;
  padding: 0.4em 1.2em;
}

/* line 125, ../input/base.scss */
button:hover, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="checkbox"]:focus, textarea:focus, input[type="submit"]:hover {
  background: #666666;
  color: #e9e9e9;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

/* line 130, ../input/base.scss */
.large {
  color: #666666;
  font-size: 110%;
  font-weight: bold;
  padding: 0.6em 1.2em;
}

/* line 136, ../input/base.scss */
i {
  display: inline-block;
  height: 3em;
  margin: -1.1em 0em;
  width: 3em;
}

/* line 142, ../input/base.scss */
i.dl {
  background: url("images/icons/download.png") no-repeat center center;
  background-size: cover;
}

/* line 146, ../input/base.scss */
i.gh {
  background: url("images/icons/git.png") no-repeat center center;
  background-size: cover;
}

/* line 1, ../input/layout.scss */
header {
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  display: block;
  height: 4.4em;
  left: 0em;
  padding: 1em;
  position: fixed;
  top: 0em;
  width: 100%;
  z-index: 995;
  -webkit-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.4s;
  -moz-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.4s;
  -o-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.4s;
  transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.4s;
}
/* line 14, ../input/layout.scss */
header:hover {
  background: white;
}
/* line 18, ../input/layout.scss */
header a {
  display: inline-block;
  float: left;
}
/* line 23, ../input/layout.scss */
header .breadcrumbs {
  line-height: 2.5em;
}
/* line 27, ../input/layout.scss */
header #logo {
  cursor: pointer;
  display: block;
  position: fixed;
  left: 0em;
  top: 1.2em;
  z-index: 997;
}
/* line 36, ../input/layout.scss */
header #openNav {
  cursor: pointer;
  display: block;
  position: fixed;
  right: 1.6em;
  top: 1.3em;
  z-index: 997;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
/* line 45, ../input/layout.scss */
header #openNav:hover {
  height: 2em;
  right: 1.5em;
  top: 1.2em;
  width: 2em;
}
/* line 53, ../input/layout.scss */
header #menuText {
  color: white;
  cursor: pointer;
  display: block;
  line-height: 2em;
  margin: 0em;
  position: fixed;
  text-align: right;
  top: 1.2em;
  right: 1.5em;
  z-index: 996;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

/* line 68, ../input/layout.scss */
header:hover > #menuText {
  color: #666666;
  margin: 0em 2.5em;
}

/* line 73, ../input/layout.scss */
nav {
  background: white;
  box-shadow: 0.5vw 0vw 1.5vw rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 1em 1em 1em 3em;
  position: fixed;
  right: -20em;
  top: 0em;
  width: auto;
  z-index: 999;
  -webkit-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.25s;
  -moz-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.25s;
  -o-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.25s;
  transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.25s;
}
/* line 87, ../input/layout.scss */
nav svg {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin: 0.3em 0.3em;
  position: relative;
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
/* line 95, ../input/layout.scss */
nav svg:hover {
  height: 2em;
  margin: 0.2em 0.2em;
  width: 2em;
}
/* line 102, ../input/layout.scss */
nav ul {
  display: block;
  clear: both;
}
/* line 105, ../input/layout.scss */
nav ul li {
  display: block;
  text-align: right;
}
/* line 108, ../input/layout.scss */
nav ul li a {
  border-bottom: 0em solid white;
  color: #666666;
  font-family: "Lato", sans-serif;
  font-size: 150%;
}
/* line 114, ../input/layout.scss */
nav ul li a:hover {
  border-bottom: 0.075em solid #f7484e;
}
/* line 120, ../input/layout.scss */
nav.opened {
  right: 0em;
}
@media screen and (max-width: 720px) {
  /* line 120, ../input/layout.scss */
  nav.opened {
    width: 70%;
    text-align: center!important;
  }
}

/* line 129, ../input/layout.scss */
#menuGhost {
  display: block;
  height: 100vh;
  position: fixed;
  right: 100%;
  top: 0%;
  width: 100vw;
  z-index: 998;
}
/* line 138, ../input/layout.scss */
#menuGhost.opened {
  right: 0%;
}

/* line 143, ../input/layout.scss */
article, nav ul {
  margin: 6em 0em;
}

/* line 147, ../input/layout.scss */
.edit {
  height: 15em;
}

/* line 151, ../input/layout.scss */
.middle {
  box-sizing: border-box;
  display: block;
  margin: 0em auto;
  padding: 2em;
  width: 80%;
}
/* line 157, ../input/layout.scss */
.middle p {
  clear: both;
  display: block;
  margin: 0px auto;
  text-align: center;
}
/* line 163, ../input/layout.scss */
.middle h1 {
  line-height: 4em;
  text-align: center;
}
@media screen and (max-width: 720px) {
  /* line 163, ../input/layout.scss */
  .middle h1 {
    font-size: 150%;
    line-height: 4em;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  /* line 163, ../input/layout.scss */
  .middle h1 {
    font-size: 150%;
    line-height: 2em;
    text-align: center;
  }
}

/* line 179, ../input/layout.scss */
section {
  text-align: center;
  min-height: 100vh;
}
/* line 183, ../input/layout.scss */
section div.shadow {
  background-color: #fff;
  background-size: cover!important;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
/* line 190, ../input/layout.scss */
section div.shadow::before {
  content: '';
  box-shadow: 0vw 1.1vw 1vw rgba(0, 0, 0, 0.5);
  display: block;
  height: 70%;
  left: 10%;
  position: absolute;
  top: 25.5%;
  width: 80%;
  z-index: -1;
}
@media screen and (max-width: 1029px) {
  /* line 183, ../input/layout.scss */
  section div.shadow {
    margin-bottom: 6em;
  }
}
/* line 205, ../input/layout.scss */
section div.shadow p {
  display: block;
  font-size: 200%;
  font-weight: bold;
  height: 100%;
  line-height: 24vw;
  margin: 0em;
  opacity: 0;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
/* line 217, ../input/layout.scss */
section div.shadow p:hover {
  opacity: 1;
}
@media screen and (max-width: 1375px) and (min-width: 1030px) {
  /* line 205, ../input/layout.scss */
  section div.shadow p {
    font-size: 150%;
  }
}
@media screen and (max-width: 1029px) {
  /* line 205, ../input/layout.scss */
  section div.shadow p {
    font-size: 100%;
    line-height: 1em;
    height: 1em;
    position: absolute;
    top: 110%;
    overflow: auto;
    opacity: 1;
    color: #666666 !important;
    background: none transparent!important;
  }
}
/* line 237, ../input/layout.scss */
section img {
  display: block;
  max-width: 100%;
  margin: 0em auto;
}
/* line 241, ../input/layout.scss */
section img::before {
  content: '';
  box-shadow: 0vw 1.1vw 1vw #000;
  display: block;
  height: 69%;
  left: 10%;
  position: absolute;
  top: 25.5%;
  width: 80%;
  z-index: -1;
}
/* line 254, ../input/layout.scss */
section p {
  margin: 3em auto;
  width: 50vw;
}
@media screen and (max-width: 720px) {
  /* line 254, ../input/layout.scss */
  section p {
    margin: 1em auto;
    width: 80vw;
  }
}
/* line 263, ../input/layout.scss */
section .rect {
  background: #dd4a35;
  height: 24vw;
  margin: 2vw;
  width: 40vw;
}
@media screen and (max-width: 720px) {
  /* line 263, ../input/layout.scss */
  section .rect {
    height: 48vw;
    margin: 1em auto;
    width: 80vw;
  }
}
/* line 275, ../input/layout.scss */
section .square {
  background: #f7484e;
  height: 24vw;
  margin: 3vw;
  width: 24vw;
}
@media screen and (max-width: 720px) {
  /* line 275, ../input/layout.scss */
  section .square {
    height: 80vw;
    margin: 1em auto;
    width: 80vw;
  }
}

/* line 288, ../input/layout.scss */
.elevated {
  left: 7.5%;
  position: fixed;
}
/* line 291, ../input/layout.scss */
.elevated::before {
  opacity: 0;
}

/* line 296, ../input/layout.scss */
.hide {
  background: #e9e9e9;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #dddddd 0%, #e9e9e9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dddddd 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dddddd 0%, #e9e9e9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dddddd 0%, #e9e9e9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dddddd 0%, #e9e9e9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#e9e9e9',GradientType=0 );
  /* IE6-8 */
  display: block;
  height: 100%;
  position: fixed;
  top: 0em;
  width: 100%;
  z-index: 992;
}

/* line 314, ../input/layout.scss */
.profile {
  background: url("../../images/profile.png") no-repeat center center/cover;
  border-radius: 5em;
  display: block;
  height: 10em;
  margin: 2em auto 1em auto;
  width: 10em;
}
@media screen and (max-width: 720px) {
  /* line 314, ../input/layout.scss */
  .profile {
    display: block;
    float: none;
    height: 6em;
    margin: 2em auto 1em auto;
    width: 6em;
  }
}

/* line 330, ../input/layout.scss */
footer {
  background: rgba(255, 255, 255, 0.9);
  bottom: 0%;
  box-sizing: border-box;
  left: 0%;
  padding: 0em 0em 0.3em 0em;
  position: relative;
  width: 100%;
}
/* line 339, ../input/layout.scss */
footer:hover {
  background: white;
}
/* line 343, ../input/layout.scss */
footer p {
  padding: 0em;
  margin: 0em;
}
/* line 348, ../input/layout.scss */
footer span {
  margin: 0em 0.3em;
}

/* line 2, ../input/module.scss */
.mouse-container {
  display: block;
  height: 3em;
  width: 1.5em;
  position: absolute;
  left: 50%;
  margin-left: -0.75em;
  bottom: 2em;
}

/* line 12, ../input/module.scss */
#mouse {
  border: 0.2em solid #eee;
  border-radius: 1.5em;
  display: block;
  height: 3em;
  margin: 0px auto;
  opacity: 0;
  position: relative;
  width: 1.5em;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
/* line 23, ../input/module.scss */
#mouse::before {
  content: '';
  display: block;
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.2em;
  background: #eee;
  opacity: 1;
  position: absolute;
  left: 0.65em;
  top: 0.4em;
  -webkit-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.2s;
  -moz-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.2s;
  -o-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.2s;
  transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 0.2s;
}

/* line 39, ../input/module.scss */
.scrolling::before {
  opacity: 1!important;
  height: 0.8em!important;
}

/* line 46, ../input/module.scss */
.doneScrolling::before {
  opacity: 0.5!important;
  height: 0.2em!important;
  top: 1.2em!important;
}

/* line 54, ../input/module.scss */
.preScrolling::before {
  opacity: 0!important;
  top: 1.2em!important;
}

/* line 61, ../input/module.scss */
.hideScrolling::before {
  opacity: 0!important;
  display: none!important;
  top: 0.4em!important;
}

/* line 69, ../input/module.scss */
.startScrolling::before {
  opacity: 1!important;
  top: 0.4em!important;
}

/* line 75, ../input/module.scss */
.display {
  opacity: 1!important;
}

/* line 80, ../input/module.scss */
.block {
  background: #dd4a35;
  box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.5);
  color: white;
  cursor: auto;
  display: block;
  margin: 0em auto;
  height: 80vh;
  position: relative;
  width: 85vw;
  z-index: 1;
}
/* line 92, ../input/module.scss */
.block::before {
  background: #ea8439;
  content: '';
  display: block;
  height: 80vh;
  left: 0em;
  margin-left: 0vw;
  position: absolute;
  top: 0em;
  width: 85vw;
  z-index: 2;
}
/* line 105, ../input/module.scss */
.block::after {
  background: #e9e9e9;
  border: 4em solid #e9e9e9;
  content: '';
  display: block;
  height: 80vh;
  left: -4em;
  margin-left: 0vw;
  position: absolute;
  top: -1em;
  width: 85vw;
  z-index: 3;
}

/* line 121, ../input/module.scss */
.block.opening::after {
  margin-left: 93vw;
  width: 0em;
  -webkit-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 1s;
  -moz-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 1s;
  -o-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 1s;
  transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 1s;
}

/* line 129, ../input/module.scss */
.block.open::before {
  margin-left: 85vw;
  width: 0em;
  -webkit-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 1s;
  -moz-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 1s;
  -o-transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 1s;
  transition: all cubic-bezier(0.79, 0.09, 0.62, 1) 1s;
}

/* line 137, ../input/module.scss */
.block.opened::before {
  display: none;
  opacity: 0;
}
/* line 141, ../input/module.scss */
.block.opened::after {
  display: none;
  opacity: 0;
}
